<!-- INÍCIO DO CONTEÚDO -->
<div class="espacoTitulo1" [@aboutAppeared]="aboutState">

  <p class="tituloRest" style="text-align: center">Sobre</p>

  <div style="color: white; font-size: 18px; padding: 5px; text-align: justify">

    <p class="indent"> A La Quinta Pizzaria atravessou o Atlântico, conquistou São Paulo e os nossos corações. Na La Quinta Pizzaria queremos
      que você tenha a melhor experiência ao apreciar todo o sabor de uma verdadeira pizza. Tradição e qualidade que se iniciam
      desde a escolha minuciosa dos ingredientes, incluindo o preparo artesanal da massa e ambiente para família e amigos.
    </p>

  </div>

  <hr>

  <div class="container">
    <span class="tituloRest1">Integrantes: </span>

    <div style="color: white; text-shadow: 0.5px 0.5px 0.5px black; font-size: 13px;">
      <br>
      <p class="indent">Lucas Martin Lima | 317100574</p>
      <p class="indent">Vinícius Nascimento da Silva | 317104932</p>
      <p class="indent">Isaque Oliveira Dutra | 317104199</p>
      <p class="indent">Matheus Souza Reis | 317104839</p>
      <p class="indent">Vinícius Da Silva Puskas Vieira | 317103039</p>
      <p class="indent">Rafael Picheco Pereira | 3171103703</p>
      <p class="indent">Luiz Felippe Ribeiro Lopes | 2117100702</p>

    </div>
  </div>

</div>
<!-- FIM DO CONTEÚDO -->