<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron" style="background-color:rgba(255, 255, 255, 0.774)" [@homeAppeared]="homeState" >
    <br>
    <img style="width: 290px; height: 210px" src="../../assets/img/logo.png" />
    <p>
      Está com fome? Peça e receba em casa.
    </p>
    <a id="btn1" class="btn btn-danger btn-lg" [routerLink]="['/restaurantes']" style="box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.856); margin-top: -30px;">Ver Restaurantes</a>
  </div> 

</section>
<!-- FIM DO CONTEÚDO -->